.ColorPaletteGenerator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-md);
  background-color: rgba(var(--white));
  color: rgba(var(--black));
  box-shadow: var(--shadow-md);
}

    .ColorPaletteSelect {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
      padding: var(--spacing-xl);
      border-right: 1px solid rgba(var(--black), 0.1);
    }

        .ColorSelectRGB {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: var(--spacing-sm);
        }

            .ColorSelectRGB div {
              display: flex;
              flex-direction: row;
              border: 1px solid rgba(var(--black), 0.1);
              padding: var(--spacing-sm);
              justify-content: space-between;
              border-radius: var(--border-radius-md);
              color: rgba(var(--black), 0.4);
              font-size: var(--font-size-sm);
            }

                .ColorSelectRGB .number {
                  display: block;
                  align-self: flex-end;
                  color: rgba(var(--black), 1);
                }

        .ColorSelectHEX {
          display: grid;
          grid-template-columns: 1fr;
          gap: var(--spacing-sm);
        }

            .ColorSelectHEX div {
              display: flex;
              flex-direction: row;
              border: 1px solid rgba(var(--black), 0.1);
              padding: var(--spacing-sm);
              justify-content: space-between;
              border-radius: var(--border-radius-md);
              color: rgba(var(--black), 0.4);
              font-size: var(--font-size-sm);
            }

                .ColorSelectHEX .number {
                  display: block;
                  align-self: flex-end;
                  color: rgba(var(--black), 1);
                }

    .ColorPaletteOutput {
      width: 100%;
      height: 100%;
      padding: var(--spacing-xl);
    }

        .ColorPaletteOutput h2 {
          font-size: var(--font-size-md);
          margin-bottom: var(--spacing-sm);
        }
        
        .allColors {
          width: 100%;
          height: 140px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          overflow: hidden;
          border-radius: var(--border-radius-md);
          margin-bottom: var(--spacing-xl);
        }

            .singleColor {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background: blue;
            }