.ColorPaletteGenerator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-md);
  background-color: rgba(var(--white));
  color: rgba(var(--black));
}

    .ColorManager {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: rgba(var(--black));
      color: rgba(var(--black));
      padding: var(--spacing-lg);
    }

    .ColorPaletteSelect {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
      padding: var(--spacing-xl);
      border-right: 1px solid rgba(var(--black), 0.1);
    }

        .ColorSelectRGB {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: var(--spacing-sm);
        }

            .ColorSelectRGB div {
              display: flex;
              flex-direction: row;
              border: 1px solid rgba(var(--black), 0.1);
              padding: var(--spacing-sm);
              justify-content: space-between;
              border-radius: var(--border-radius-md);
              color: rgba(var(--black), 0.4);
              font-size: var(--font-size-sm);
            }

                .ColorSelectRGB .number {
                  display: block;
                  align-self: flex-end;
                  color: rgba(var(--black), 1);
                }

        .ColorSelectHEX {
          display: grid;
          grid-template-columns: 1fr;
          gap: var(--spacing-sm);
        }

            .ColorSelectHEX div {
              display: flex;
              flex-direction: row;
              border: 1px solid rgba(var(--black), 0.1);
              padding: var(--spacing-sm);
              justify-content: space-between;
              border-radius: var(--border-radius-md);
              color: rgba(var(--black), 0.4);
              font-size: var(--font-size-sm);
            }

                .ColorSelectHEX .number {
                  display: block;
                  align-self: flex-end;
                  color: rgba(var(--black), 1);
                }

    .ColorPaletteOutput {
      width: 100%;
      height: 100%;
    }

        .ColorPaletteOutput h2 {
          font-size: var(--font-size-md);
          margin-bottom: var(--spacing-sm);
        }
        
        .allColors {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          gap: 0;
        }

            .singleColor {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              padding: var(--spacing-md);
              background: blue;
            }

            .singleColorValue {
              font-size: var(--font-size-md);
              border: 1px solid rgba(var(--black), 0.1);
              padding: var(--spacing-sm);
              border-radius: var(--border-radius-md);
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .HexColorPicker {
              opacity: 0;
              transition: opacity 0.3s ease-in-out;
            }

                .singleColor:hover .HexColorPicker {
                  opacity: 1;
                }