/* App Layout */

.htmlContainer {
  height: 100%;
  font-family: var(--font-main);
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bodyLayout {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}