.CrispLogo {
  height: 48px;
}

.TopBar {
  padding: var(--spacing-lg) var(--spacing-md);
  border-bottom: 1px solid rgba(var(--black), 0.1);

  & a {
    border-bottom: none;
  }

  & .TopBarContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
  }
}