.sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

    .sidebar a {
      font-size: var(--font-size-sm);
      font-weight: 600;
      padding: var(--spacing-sm) var(--spacing-md);
      color: rgba(var(--black), 1);
      transition: all 0.18s ease-in-out;
      border-bottom: none;
      background: none;
      border-radius: var(--border-radius-xl);
      text-wrap: nowrap;
    }

    .sidebar a:hover,
    .sidebar a:focus {
      background: rgba(var(--purple), 0.1);
    }

    .sidebar a.active {
      background: rgba(var(--purple), 0.2);
    }