.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 1px solid rgba(var(--grey-10),0.1);
}

.header .logo {
  width: 54px;
}

.header .navList {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header .navList a {
  font-size: var(--font-size-md);
  color: rgba(var(--blue));
}