.ToolPanel__output {
  margin-top: var(--spacing-md);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-md);
  background-color: rgba(var(--white));
  color: rgba(var(--black));
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  box-shadow: var(--shadow-md);
}